@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  user-select: none;
}

::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: silver;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@media only screen and (max-height: 730px) {
  .cardPin{
    height: 400px;
  }
  .cardPin .side-heading{
    bottom: 9.8rem;
  }
}

@media only screen and (max-height: 600px) {
  .cardPin{
    height: 350px;
  }
}

@media only screen and (max-height: 568px) {
  .cardPin{
    height: 331px;
    width: 145px;
  }
  .cardPin .side-heading{
    bottom: 1rem;
    width: 162%;
  }
}

@media only screen and (max-height: 560px) {
  .cardPin{
    height: 273px;
    width: 135px;
  }
}

@media only screen and (max-width: 360px) {
  .main-heading{
    top: 62%;
  }
  .main-heading .title-description{
    width: 130px;
  }
}

/* @media only screen and (min-width: 375px) {
  .cardPin .side-heading{
    bottom: 6.8rem;
  }
}
@media only screen and (min-width: 425px) {
  .cardPin .side-heading{
    bottom: 9.8rem;
  }
} */






